-- CompanyAI PostgreSQL Veritabanı Şeması
-- Tarih: 11 Şubat 2026, v2.9.0
-- DB: PostgreSQL 14.20, user=companyai, db=companyai, port=5432

-- ══════════════════════════════════════════════════════════════
-- 1. users — Kullanıcılar
-- ══════════════════════════════════════════════════════════════
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    email VARCHAR(255) NOT NULL UNIQUE,
    hashed_password VARCHAR(255) NOT NULL,
    full_name VARCHAR(255),
    role VARCHAR(50),                    -- admin | manager | user
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    department VARCHAR(100)              -- 28 departman (constants.py)
);
CREATE INDEX ix_users_email ON users (email);

-- ══════════════════════════════════════════════════════════════
-- 2. queries — AI Sorgu Geçmişi
-- ══════════════════════════════════════════════════════════════
CREATE TABLE queries (
    id SERIAL PRIMARY KEY,
    user_id INTEGER NOT NULL REFERENCES users(id),
    question TEXT NOT NULL,
    answer TEXT,
    department VARCHAR(100),
    mode VARCHAR(100),
    risk_level VARCHAR(50),
    confidence DOUBLE PRECISION,
    processing_time_ms INTEGER,
    created_at TIMESTAMP DEFAULT NOW()
);
CREATE INDEX ix_queries_user_id ON queries (user_id);
CREATE INDEX ix_queries_created_at ON queries (created_at);

-- ══════════════════════════════════════════════════════════════
-- 3. audit_logs — Denetim Kaydı
-- ══════════════════════════════════════════════════════════════
CREATE TABLE audit_logs (
    id SERIAL PRIMARY KEY,
    user_id INTEGER REFERENCES users(id),
    action VARCHAR(100) NOT NULL,        -- login, backup_created, settings_updated, ...
    resource VARCHAR(100),               -- backup, settings, user, ...
    details TEXT,
    ip_address VARCHAR(50),
    user_agent VARCHAR(255),
    created_at TIMESTAMP DEFAULT NOW()
);
CREATE INDEX ix_audit_logs_user_id ON audit_logs (user_id);

-- ══════════════════════════════════════════════════════════════
-- 4. system_settings — Sistem Ayarları (key-value)
-- ══════════════════════════════════════════════════════════════
CREATE TABLE system_settings (
    id SERIAL PRIMARY KEY,
    key VARCHAR(100) NOT NULL UNIQUE,    -- company_logo, system_prompt, ...
    value TEXT,
    description VARCHAR(255),
    updated_at TIMESTAMP DEFAULT NOW(),
    updated_by INTEGER REFERENCES users(id)
);

-- ══════════════════════════════════════════════════════════════
-- 5. chat_sessions — Sohbet Oturumları
-- ══════════════════════════════════════════════════════════════
CREATE TABLE chat_sessions (
    id SERIAL PRIMARY KEY,
    user_id INTEGER NOT NULL REFERENCES users(id),
    title VARCHAR(255),
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW()
);
CREATE INDEX ix_chat_sessions_user_id ON chat_sessions (user_id);

-- ══════════════════════════════════════════════════════════════
-- 6. conversation_memory — Konuşma Hafızası
-- ══════════════════════════════════════════════════════════════
CREATE TABLE conversation_memory (
    id SERIAL PRIMARY KEY,
    user_id INTEGER NOT NULL REFERENCES users(id),
    question TEXT NOT NULL,
    answer TEXT NOT NULL,
    department VARCHAR(100),
    intent VARCHAR(50),
    created_at TIMESTAMP DEFAULT NOW(),
    session_id INTEGER REFERENCES chat_sessions(id)
);
CREATE INDEX ix_conversation_memory_user_id ON conversation_memory (user_id);
CREATE INDEX ix_conversation_memory_session_id ON conversation_memory (session_id);

-- ══════════════════════════════════════════════════════════════
-- 7. user_preferences — Kullanıcı Tercihleri
-- ══════════════════════════════════════════════════════════════
CREATE TABLE user_preferences (
    id SERIAL PRIMARY KEY,
    user_id INTEGER NOT NULL REFERENCES users(id),
    key VARCHAR(100) NOT NULL,           -- language, theme, notification_email, ...
    value TEXT NOT NULL,
    source VARCHAR(200),
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW()
);
CREATE INDEX ix_user_preferences_user_id ON user_preferences (user_id);

-- ══════════════════════════════════════════════════════════════
-- 8. company_culture — Şirket Kültürü Öğrenme
-- ══════════════════════════════════════════════════════════════
CREATE TABLE company_culture (
    id SERIAL PRIMARY KEY,
    category VARCHAR(100) NOT NULL,      -- greeting, farewell, jargon, rule, ...
    key VARCHAR(200) NOT NULL,
    value TEXT NOT NULL,
    frequency INTEGER DEFAULT 1,
    source_user_id INTEGER REFERENCES users(id),
    source_text VARCHAR(300),
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW()
);

-- ══════════════════════════════════════════════════════════════
-- ChromaDB Koleksiyonları (Vektör DB — /opt/companyai/data/chromadb/)
-- ══════════════════════════════════════════════════════════════
-- 1. company_documents  — RAG belgeleri (yüklenen dosyalar, URL, video)
--    Collection: app/rag/vector_store.py → COLLECTION_NAME = "company_documents"
--    Embedding: paraphrase-multilingual-mpnet-base-v2 (768-dim)
--
-- 2. company_memory     — AI konuşma hafızası (soru-cevap çiftleri)
--    Collection: app/memory/vector_memory.py → "company_memory"
--    Embedding: paraphrase-multilingual-mpnet-base-v2 (768-dim)
--
-- Persist: /opt/companyai/data/chromadb/ (~2.2 MB)
-- Backup: v2.9.0'dan itibaren PostgreSQL ile birlikte ZIP'e dahil

